
html, body {
  height: 100%;
  scroll-behavior: smooth;
}

#main-scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section.hero,
section.sobre,
section.oque-faco,
section.hobbies,
section.timeline {
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  margin: 0 auto;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f9;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #222;
  padding: 1rem;
  position: fixed;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.navbar a.active {
  text-decoration: underline;
}

.section {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}

.footer {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
}
