<section class="hero">
  <div class="hero-container">
    <div class="profile-photo-wrapper">
      <img src="assets/foto_perfil_maria.jpg" alt="Foto de perfil" class="profile-photo" />
    </div>

    <div class="hero-text">
      <h1>Maria Mendes</h1>
      <p class="subtitle">Mais sobre mim?</p>

      <button class="scroll-down" (click)="scrollPara('sobre')">
        <i class="fa-solid fa-angle-down"></i>
      </button>
    </div>
  </div>
</section>

<section class="sobre" id="sobre">
  <div class="content">
    <h2>Sobre mim</h2>
    <p>
      Olá! O meu nome é Maria Mendes, tenho 23 anos e sou natural de Castelo Branco, Portugal.
      Atualmente,trabalho como frontend developer num projeto do Bnp Paribas.
    </p>
    <p>
      Desde cedo desenvolvi interesse por tecnologia e resolução de problemas. Tenho experiência em
      desenvolvimento front-end com <strong>Angular</strong> e gosto de criar interfaces simples e
      intuitivas.
    </p>
    <p>
      Fora do mundo da programação, adoro jogar com os meus amigos, ouvir música e explorar novas
      ferramentas digitais que me ajudem a unir criatividade e tecnologia.
    </p>
    <p>
      Outra paixão é a vida escutista. Apesar de pequena no movimento, sinto que estar nos
      escuteiros me ensina a ser uma pessoa melhor, a valorizar a amizade, a natureza e a
      solidariedade.
    </p>
    <button class="scroll-down" (click)="scrollPara('oque-faco')">
      <i class="fa-solid fa-angle-down"></i>
    </button>
  </div>
  
  <div class="content">
    <section class="oque-faco" id="oque-faco">
      <app-oque-faco></app-oque-faco>
    </section>
  </div>

  <div class="content">
    <section class="hobbies" id="hobbies">
      <app-hobbies></app-hobbies>
    </section>
  </div>
</section>
