<footer class="footer">
  <p>Onde me encontrar?</p>
  <div class="social-icons">
    <a href="https://www.facebook.com/maria.1906.mendes?locale=pt_PT" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/mariamendes._/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/maria-m-52395711a/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/mimocas010" target="_blank"><i class="fa-brands fa-github"></i></a>
  </div>
</footer>
