<section class="timeline" id="hobbies">
  <h2>Hobbies</h2>

  <h3>Jogar Videojogos</h3>
  <p>
    Gosto de jogar video jogos com os meus amigos, especialmente jogos de estratégia e aventura.<br>
    É uma ótima forma de relaxar e socializar ao mesmo tempo.
  </p>

  <h3>Música</h3>
  <p>
    Sei tocar flauta transversal e adoro ouvir música de diversos géneros, desde pop a clássica.<br>
    A música é uma parte importante da minha vida e ajuda-me a concentrar-me enquanto trabalho
  </p>

  <h3>Escuteiros</h3>
  <p>
    Sou chefe da primeira secção de lobitos no agrupamento 1335, Aldeia de Joanes.<br> Gosto muito de estar em contacto com a natureza e de ajudar os mais novos a crescerem como pessoas.
  </p>

  <button class="scroll-down" (click)="scrollPara('sobre')">
    <i class="fa-solid fa-angle-up"></i>
  </button>
</section>
