<section class="timeline" id="oque-faco">
  <h2>O Que Faço</h2>

  <h3>Desenvolvimento Web</h3>
  <p>
    Trabalho com frameworks modernas como <strong>Angular</strong> para criar aplicações web
    rápidas, responsivas e intuitivas.<br>
    Através do meu trabalho, procuro sempre melhorar a experiência do utilizador e acessibilidade.
  </p>

  <h3>Design e UX</h3>
  <p>
    No seguimento do ponto anterior, também me interesso por design de interfaces e experiência do
    utilizador (UX). <br>
    Tenho gosto por design simples e funcional, com foco na experiência do utilizador e estética
    digital.
  </p>

  <h3>Aprendizagem Contínua</h3>
  <p>
    Estou sempre a aprender novas tecnologias e ferramentas para me manter atualizada e melhorar as
    minhas competências.
  </p>
   

   <button class="scroll-down" (click)="scrollPara('hobbies')">
    <i class="fa-solid fa-angle-down"></i>
  </button>
</section>
